<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Hello World</h1>
    <a href="/" class="btn"> Add new Product</a>
    <ul class="cards">
      {{#each products}}
        <li class="card">
          <h2>{{title}}</h2>
          <p class="price">${{price}}</p>
          <img src={{thumbnail}} alt="" />
        </li>
      {{/each}}
    </ul>
  </body>
</html>