NODE_ENV=firebase
PORT=8080
DB_TYPE=firebase
FIREBASE_APIKEY = fb-api-key
FIREBASE_AUTHDOMAIN = fb-auth.firebaseapp.com
FIREBASE_PROJECTID = fb-proyecto-id
FIREBASE_STORAGEBUCKET = fb-storage-bucket
FIREBASE_MESSAGINGSENDERID = fb-messaging-sender-id
FIREBASE_APPID = fb-app-id
FIREBASE_MEASUREMENTID = fb-measurement-id